body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

/*---- nav bar----*/
nav {
	box-shadow: none;
	background: none;
	padding-left: 50px;
	padding-right: 50px;
}

.hide-on-med-and-down nav a {
  /*text-decoration: none;*/
}

nav a .fa {
	font-size: 1em;
}

.btn-floating {
	height: 30px;
	width: 30px;
	line-height: 30px;
}

.btn-floating i {
	line-height: 30px;
}

.wade-home {
  font-size: 1.5em;
  color: #e60000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 3;
}

nav .nav-wrapper .fa {
	line-height: 2;
}

.hide-on-med-and-down li {
	margin-right: 10px;
}

.hide-on-med-and-down li:hover {
	background: none;
}

.side-nav a {
	font-weight: 800;
}

.side-nav li:hover {
	background: #F58585;
}

.side-nav a:hover {
	color: white;
}

.material-icons.hamburger {
	color: #e60000;
}

nav a.button-collapse i {
	margin-right: 20px;
	line-height: 62px;
}

/*---- main ----*/

.slider.slider.slider.slider {
	height: 90vh !important;
}

.slides.slides.slides.slides {
	height: 85vh !important;
}

.indicator-item.active.indicator-item.active.indicator-item.active {
	background: #e60000;
}

.slider .indicators .indicator-item {
	height: 10px;
	width: 10px;
}

.caption h1 {
	color: #e60000;
	font-weight: 800;
	letter-spacing: 2px;
}

.clearfix {
	overflow: auto;
}

img.banner-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.slider .slides h5.light {
  letter-spacing: 2px;
}
/*----- about // city // cemre------*/

.city, .hey-boy {
  width: 65%;
  margin: 30px auto 100px auto;
}

.city img {
	float: right;
}

.city .description,
.hey-boy .description {
/*  margin: 50px;*/
  text-align: center;
}

.hey-boy .valign,
.hey-boy div:first-child {
  text-align: right;
}

.city img, .cemre {
  /*margin-top: 50px;*/
  max-height: 250px;
}

/*---- activities -----*/

.activities {
	/*width: 75%;*/
  padding: 2%;
	margin: auto;
  background: #efefef;
}

.activities .icon {
	width: 20px;
	float: right;
}

.activities #activities-list{
  margin-top: 50px;
}

.activities #activities-list h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0px;
}

.activities p {
	margin-top: 5px;
}

#activities-list{
  margin-bottom: 0px;
}

.centered {
	text-align: center;
}

/*----- footer ----- */

footer {
  height: 30px;
  /*line-height: 30px;*/
  font-size: .8em;
  background: #333;
  color: white;
  /*margin-top: 70px;*/
  padding: 7px 30px;
  text-align: center;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }



/*media queries*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	.icon.icon.icon {
  		width: 50px;
  	}

  	.wade-home {
  		font-size: 3em;
  		line-height: 1.5;
  	}

}


